//Statuses
$error: #f44336;

//Background
$backgroundLight: #fff;
$backgroundLightGrey: #e5e5e5;
$backgroundGrey: #616161;
$idk: #676464;
$backgroundDark: #000000;

//borders
$borderPrimary: #1565c0;
$borderDefault: #ccc;

//text color
$textGrey: #333232;
$textDark: #212121;
