@import "./common.scss";
@import "../../components/Cards/_cards.scss";
@import "../../components/Editor/_editor.scss";

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.w-100 {
  width: 100%;
}
.flex-d-column {
  flex-direction: column;
}
