.title-component {
  width: 100%;
  input,
  textArea,
  .title {
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 3px solid transparent;
    min-width: 50px;
    &:hover {
      cursor: pointer;
      background-color: $backgroundLightGrey;
      border-radius: 5px;
      color: $textDark;
      padding: 2px;
    }
    &:focus {
      background-color: $backgroundLight;
      border: 3px solid $borderPrimary;
      color: $textGrey;
      border-radius: 5px;
      outline: none;
      padding: 2px;
    }
  }
  .icons-wrapper {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    z-index: 10;
    margin-top: 2px;
    .icon {
      border-radius: 2px;
      height: 20px;
      width: 20px;
      color: $backgroundGrey; //idk
    }
  }
}
.MuiDialogContent-root {
  overflow-y: initial !important;
}
